#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#heading > div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#heading > div:nth-child(1) h1{
    font-size: 40px;
}

#heading > div:nth-child(1) sup{
    font-size: 15px;
    color: #FF3483;
}